env/conf/composer/auth.json
env/data
www
!www/index.html
!www/favicon.ico
!www/magento1/index.php
!www/magento1/realpath_cache_tuner.php
!www/magento1/favicon.ico
!www/magento2/index.php
!www/magento2/realpath_cache_tuner.php
!www/magento2/favicon.ico
src
!src/index.html
!src/favicon.ico
!src/magento1/index.php
!src/magento1/realpath_cache_tuner.php
!src/magento1/favicon.ico
!src/magento2/index.php
!src/magento2/realpath_cache_tuner.php
!src/magento2/favicon.ico
env/container-source-code/src
!env/container-source-code/src/xhgui/config/config.php
!env/container-source-code/src/.htaccess
!env/container-source-code/src/favicon.ico
!env/container-source-code/src/index.html
!env/container-source-code/src/magento2/realpath_cache_tuner.php
!env/container-source-code/src/magento2/favicon.ico
!env/container-source-code/src/magento2/index.php
